<div class="jumbotron">
	<h1> About Me... </h1>
	<p> My Name Is Kjlilchild and I am learning Rails among other frameworks and languages. Please checkout my othe work. I would love to join a team of developers to learn some new skills and meet some new people! </p>
	<h2> Cheers! :) </h2>
</div>